<div id="subset-generator">
    <h2>Gen Subset</h2>
    <p>Before using this generator, please read the "LicenseDescription" of the font info below, and make sure you have the right to generate the subset.</p>
    <div id="subset-input-form" class="subset-input-form">
        <p><textarea id="subset-input" cols="80" rows="5"></textarea></p>
        <p><input type="button" ng-click="genSubset()" value="gen subset" /></p>
    </div>
</div>
<div ng-if="subset" id="subset-result">
    <h2>Subset Preview</h2>
    <div class="subset-result">
        <h3>Chars Preview</h3>
        <div id="chars-preview-container" class="chars-preview-container">
            {{ chars }}
        </div>
        <h3>Font Download</h3>
        <ul>
            <li ng-repeat="(key, value) in subset"><a data-ng-href="data:application/x-font-{{ key }};charset=utf-8;base64,{{value}}" target="_blank" download="font.{{ key }}">{{ key }} format</a></li>
        </ul>
    </div>
</div>
<div ng-if="fontInfo" id="font-info">
    <h2>Font Info</h2>
    <div class="font-info-cointainer">
        <table>
            <thead>
                <td>Key</td>
                <td>Value</td>
            </thead>
            <tr ng-repeat="(key, value) in fontInfo">
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        </table>
    </div>
</div>